Package: ws.hbang.dailypaper
Name: DailyPaper
Depends: mobilesubstrate, ws.hbang.common (>= 1.1)
Version: 1.1
Architecture: iphoneos-arm
Description: [iOS 11-12] Daily wallpapers courtesy of Bing
Maintainer: Slash Nephy <slash@nephy.jp>
Author: SlashNephy, HASHBANG Productions <slash@nephy.jp>
Support: https://www.hbang.ws/faq/
Section: Tweaks
